@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
        .no-scrollbar::-webkit-scrollbar {
            display: none;
            width: 100vw;
            height: 100vh;
        }
        .no-scrollbar {
            -ms-overflow-style: none;
        }
    }
}
